$base_input_border:(
    bottom:1px solid rgba(0,0,0,.2)
);
$base_input_padding:(
    md:5px 0
);
$base_input_config:(
    background:rgb(255,255,255),
    height:initial !important,
    border-radius:0
);